.admin-manage-products-container {
  padding: 20px;
  background-color: #1c1e29;
  color: #cfd8e3;
  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.admin-manage-products-header {
  color: #2f89fc;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.admin-add-product {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.admin-add-product-link {
  background-color: #2f89fc;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.admin-add-product-link:hover {
  background-color: #4aa1ff;
}

.admin-product-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.admin-product-header,
.admin-product-item {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr 1fr 1.5fr;
  padding: 10px;
  align-items: center;
}

.admin-product-header {
  background-color: #242b3d;
  border-bottom: 2px solid #2f89fc;
  font-weight: bold;
  color: #87a3be;
}

.admin-product-item {
  background-color: #242b3d;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #3a4659;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s, background-color 0.3s;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr 1fr 1.5fr;
  align-items: center;
}

.admin-product-item:hover {
  transform: scale(1.02);
  background-color: #2b3246;
}

.admin-group-item {
  background-color: #2a3145;
  border: 3px solid #2f89fc;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr 1fr 1.5fr;
  align-items: center;
  border-radius: 8px;
}

.admin-group-child-item {
  background-color: #1d2433;
  margin-left: 20px;
  padding-left: 20px;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #3c4561;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr 1fr 1.5fr;
  align-items: center;
  gap: 10px; /* Ensuring proper spacing */
}

.admin-group-text-products {
  margin-top: 10px;
  color: #87a3be;
  font-size: 14px;
  line-height: 1.5;
}

.admin-group-text-item {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr 1fr 1.5fr;
  padding: 5px 0;
  align-items: center;
  border-bottom: 1px solid #3a4659;
}

.admin-group-product-title {
  font-weight: bold;
}

.admin-group-product-category,
.admin-group-product-price {
  font-style: italic;
}

.admin-group-product-url a {
  color: #87a3be;
  text-decoration: underline;
}

.admin-group-product-url a:hover {
  color: #2f89fc;
}

.admin-action-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.admin-edit-link,
.admin-delete-button,
.admin-stock-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-icon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s;
}

.admin-add-product-link img {
  width: 24px;
  height: 24px;
}

.admin-edit-link:hover .admin-icon,
.admin-delete-button:hover .admin-icon,
.admin-stock-link:hover .admin-icon {
  transform: scale(1.2);
}

.admin-product-header p,
.admin-product-item p {
  margin: 0;
  text-align: left;
}

.admin-product-item p a {
  color: #87a3be;
  text-decoration: underline;
}

.admin-product-item p a:hover {
  color: #2f89fc;
}

.admin-loading,
.admin-error {
  text-align: center;
  margin-top: 50px;
  color: #2f89fc;
}

.group-label {
  color: #2f89fc;
  font-weight: bold;
  text-align: center;
  background-color: #2a3145;
  padding: 3px 6px;
  border-radius: 4px;
  margin-left: 5px;
}

.admin-visibility-checkbox input[type='checkbox']:hover {
  cursor: pointer;
  outline: 2px solid #2f89fc;
}

.admin-visibility-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.admin-expand-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.admin-expand-button:hover .admin-icon {
  transform: scale(1.2);
}

.admin-group-products .admin-action-buttons {
  justify-content: space-between;
}

.admin-group-products {
  margin-top: 15px;
}

.admin-add-product-to-group-form {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.admin-add-product-input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #3a4659;
  background-color: #242b3d;
  color: #cfd8e3;
}

.admin-add-product-button {
  padding: 10px 20px;
  background-color: #2f89fc;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-add-product-button:hover {
  background-color: #4aa1ff;
}

.admin-add-product-to-group-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  width: 100%; /* Make the form take up the full width */
}

.admin-add-product-input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #3a4659;
  background-color: #242b3d;
  color: #cfd8e3;
  width: 100%; /* Ensure the dropdown spans the full width */
  max-width: 400px; /* Limit the maximum width for readability */
}

.admin-add-product-button {
  padding: 10px 20px;
  background-color: #2f89fc;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  align-self: flex-end; /* Align the button to the right */
}

.admin-add-product-button:hover {
  background-color: #4aa1ff;
}

.admin-add-product-to-group-form select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background-color: #242b3d;
  color: #cfd8e3;
  border: 1px solid #3a4659;
}

.admin-icon:hover {
  transform: scale(1.2);
}

.admin-action-buttons .admin-icon:hover {
  transform: scale(1.2);
}

.admin-product-item p a:hover {
  color: #2f89fc;
}

.admin-add-group-link {
  background-color: #2f89fc; /* Primary blue color */
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  margin-left: 10px; /* Add some space between the Add Product link and Create Group button */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effect */
}

.admin-add-group-link:hover {
  background-color: #4aa1ff; /* Lighter blue on hover */
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.admin-add-product {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.admin-add-product-link {
  background-color: #2f89fc;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.admin-add-product-link:hover {
  background-color: #4aa1ff;
}
