/* src/styles/Header.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1a1d;
  position: sticky;
  top: 0;
  z-index: 1100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.header-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-logo {
  height: 40px;
}

.header-left-nav-links {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between Shop and Reviews */
}

.header-right-nav-links {
  margin-right: 25px;
  display: flex;
  align-items: center;
  gap: 20px; /* Space between the right links */
}

.header-nav-link {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.header-nav-link:hover {
  color: #ffffff;
}

.header-icon {
  margin-right: 8px;
  font-size: 20px;
}

.header-logout-button {
  background: none;
  border: none;
  color: #b3b3b3;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.header-logout-button:hover {
  color: #ffffff;
}

.header-menu-icon {
  font-size: 26px;
  color: #fff;
  background: none; /* No background */
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 25px;
  padding: 0; /* Ensure no padding */
  outline: none; /* Remove outline */
}

.header-menu-icon:focus,
.header-menu-icon:active {
  background: none; /* Ensure no background on focus or active state */
  color: #fff; /* Maintain the same color */
  outline: none; /* Remove focus outline */
}

.header-desktop-only {
  display: flex; /* Show on larger screens */
}

.header-mobile-only {
  display: none; /* Hide on larger screens */
}

@media (max-width: 768px) {
  .header-left-nav-links {
    display: none; /* Hide left links on mobile */
  }

  .header-mobile-only {
    display: flex; /* Show mobile links on smaller screens */
  }

  .header-right-nav-links {
    display: none; /* Hide right links on mobile */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1a1a1d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 300px;
  }

  .header-right-nav-links.open {
    display: flex; /* Show menu when open */
  }

  .header-menu-icon {
    display: block; /* Show menu button on mobile */
  }
}

@media (min-width: 769px) {
  .header-menu-icon {
    display: none; /* Hide menu button on larger screens */
  }

  .header-right-nav-links {
    justify-content: flex-end; /* Right align the right links */
  }
}
