/* src/styles/ManageProducts.css */
.manage-products-container {
    padding: 20px;
    background-color: #34495e;
    color: #ecf0f1;
  }
  
  .manage-products-container h1 {
    margin-top: 0;
  }
  