.admin-manage-products-container {
  padding: 20px;
  background-color: #171725;
  color: #ffffff;
  border-radius: 10px;
  max-width: 900px;
  margin: 0 auto;
}

.admin-manage-products-header {
  color: #ff4c4c;
  margin-bottom: 20px;
  text-align: center;
}

.admin-product-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin-product-header, .admin-product-item {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr 1fr;
  padding: 10px;
  align-items: center;
}

.admin-product-header {
  background-color: #202038;
  border-bottom: 2px solid #ff4c4c;
  font-weight: bold;
  color: #61dafb;
}

.admin-product-item {
  background-color: #202038;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #444;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.admin-edit-link, .admin-delete-button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #ff4c4c;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-right: 5px;
}

.admin-edit-link:hover, .admin-delete-button:hover {
  background-color: #e63e3e;
}

.admin-delete-button {
  border: none;
  cursor: pointer;
}

.admin-product-header p, .admin-product-item p {
  margin: 0;
  text-align: left;
}

.admin-product-item p a {
  color: #61dafb;
  text-decoration: underline;
}

.admin-product-item p a:hover {
  color: #ff4c4c;
}
