body, html, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #111214; /* Updated background color */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header, .banner {
  width: 100%;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
