body, html, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #111214; /* Updated background color */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header, .banner {
  width: 100%;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #1a1a1d; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #444; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners for the scrollbar */
  border: 2px solid #1a1a1d; /* Adds space between thumb and track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #58a6ff; /* Color when hovering */
}

